
.header {
    background-color: #007bffe2;
    padding: 10px 0;
    width: 100%;
    height: 8%;
}

.header-content {
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 0 20px;
}

.logo-and-name {
    display: flex;
    align-items: center;
}

.company-logo {
    width: 30px; 
    height: auto;
    margin-right: 10px; 
}

.company-name {
    font-size: 18px;
    font-weight: bold;
    color: #ffffff; 
}

.nav{
    background-color: #ffffff;
}

.nav-list {
    list-style: none;
    margin: 1;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-item {
    margin-right: 20px;
}

.nav-link {
    text-decoration: none;
    color: #007bffe2;
    font-weight: bold;
}
.nav-link:hover {
    color: #3e3e3e; 
}
