.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    opacity: 0;
    background-image: linear-gradient(to bottom, #007bff, #ffffff);
    animation: fadeIn 1s forwards;
  }
  .logo-login {
    width: 200px; 
    height: auto; 
    margin-bottom: 10px;
  }
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  .login-form {
    background-color: white;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 400px;
    text-align: center;
    transform: translateY(-20px);
    opacity: 0;
    animation: slideIn 0.5s ease-in-out 0.5s forwards;
  }
  
  @keyframes slideIn {
    from {
      transform: translateY(-20px);
      opacity: 0;
    }
    to {
      transform: translateY(0);
      opacity: 1;
    }
  }
  
  .login-form h2 {
    margin-bottom: 20px;
    color: #007bff;
  }
  
  .input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #cccccc;
    border-radius: 5px;
    font-size: 16px;
  }
  
  .button {
    background-color: #2196F3;
    color: white;
    border: none;
    padding: 12px 20px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out, transform 0.2s ease-in-out;
  }
  
  .button:hover {
    background-color: #1e87db;
  }
  
  .button:active {
    transform: scale(0.95);
  }
  